<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img src="../../../assets/image/logo.png" alt="Logo" width="60" height="60" class="d-inline-block align-text-top me-2">
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active-link">Home</a>
      <a class="navbar-brand" routerLink="/contact" routerLinkActive="active-link">Contact</a>
      <a class="navbar-brand" routerLink="/about-us" routerLinkActive="active-link">About Us</a>
      <a class="navbar-brand" routerLink="/cart" routerLinkActive="active-link">Cart</a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
 